@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
	@apply px-2 py-1 bg-blue-400 text-white rounded shadow hover:bg-blue-600 transition-colors duration-200;
}
.btn-succ {
	@apply px-2 py-1 bg-green-400 text-white rounded shadow hover:bg-green-600 transition-colors duration-200;
}

.btn-err {
	@apply px-2 py-1 bg-red-400 text-white rounded shadow hover:bg-red-600 transition-colors duration-200;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;

	font-weight: normal;
}

a,
.green {
	text-decoration: none;
	color: hsla(160, 100%, 37%, 1);
	transition: 0.4s;
}

@media (hover: hover) {
	a:hover {
		background-color: hsla(160, 100%, 37%, 0.2);
	}
}

@media (min-width: 1024px) {
	body {
		display: flex;
		place-items: center;
	}

	#main {
		display: grid;
		grid-template-columns: 1fr 3fr;
		height: 100vh;
		width: 100%;
		padding: 0 2rem;
	}
}

input[type='text'] {
	color: #111;
}
